<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	</head>
	<body>
		<div id = "menu" style="display: inline-block; vertical-align: top;">
			<form id="loginForm" method="post" action="http://localhost:8080/login">
				<label>Email:</label>
				<input type="text" name="email"></input><br/>
				<label>Passwort:</label>
				<input type="password" name="password"></input><br/>
				<input type="submit" value="Absenden"></input>
			</form>
		</div>
		<div id="message">
		</div>
	</body>
	<script>
		$(document).ready(function() {
			$("#loginForm").submit(login);
		});
		
		//var host = "http://giv-mgl.uni-muenster.de:8080";
		var host = "http://localhost:8080";
		
		function login(event) {
			event.preventDefault();	
			var form = $(this);
			var action = form.attr("action"),
			method = form.attr("method"),
			data   = form.serialize();
			
			$.ajax({
				url : action,
				type : method,
				data : data
			}).done(function (data) {
				sessionStorage.setItem("token", data.token);
			}).always(function (data) {
				$("#message").text(data.message);
				
				if (data && data.success) {
					window.location.replace(host+"/editor?access_token="+sessionStorage.getItem("token"));
				}
			});
		}

	</script>
</html>
