<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://localhost:3030/socket.io/socket.io.js"></script>
<script>
	var host = "http://localhost:8080";
	var sockethost = 'http://localhost:3030';
	//var host = "http://giv-mgl.uni.muenster.de:3030/";
	var socket;
 	
 	function writeMessage(data){
        var html = '<li>' + data.message + '</li>';
     
        $('#message').html(html);
    }
 	
    
    
    function getID() {
    	socket.emit("getID", null);
    }
    
    function sendCoords() {
    	socket.emit("player", {
    		"x": $("#coordx").val(),
    		"y": $("#coordy").val()
    	});
    }
    
    function addOptions(games) {
    	for(var i = 0; i < games.length; i++) {
    		id = games[i]._id;
    		$("#games").append(
    			new Option(id, id)
    		);
    	}
    }
    
    function clearList() {
    	$("#games option").remove();
    }
    
    function getSelected() {
    	return $("#games option:selected").val();
    }
    
    function ingestGame() {
    	$.ajax({
    		url: host+"/editor/game/ingest",
    		type: "PUT",
    		data: {
    			access_token: sessionStorage.getItem("token")
    		},
    		success: function(data){
	    		var html = '<li>' + data.message + '</li>';
	     
	       		$('#message').html(html);
    		}
    	});
    }
    
    function play() {
    	$.post(host+"/"+getSelected()+"/play", {
    		access_token: sessionStorage.getItem("token")
    	}, function(data) {
    		if(data.success) {
    			var gameSession = data.gameSession;
    			sessionStorage.setItem("session",data.gameSession._id);
    			if (socket) socket = null;
    			
   				socket = io.connect(sockethost);
   				socket.emit("authenticate",{
   					"access_token":sessionStorage.getItem("token"),
   					"gameSessionID":sessionStorage.getItem("session")
   				 });
 				// Initial set of notes, loop through and add to list
    			socket.on('message', writeMessage);
    		}
    		writeMessage(data);
    	})
    }
    
    function login() {
	    $.post(host+"/login",{
	    	email: $("#email").val(),
	    	password: $("#passwd").val()
	    },function(data){
	    	var html = "<li>"+data.message+"</li>";
	    	if(data.success) {
	    		sessionStorage.setItem("token",data.token);
		    	
	     		$.get(host+"/user/games/subscribed?access_token="+sessionStorage.getItem("token"),
	     			function(data){
	     				if (data.success) {
	     					clearList();
	     					addOptions(data.games);
	     				}
	     			}
	     		);
	        	
	    	}
	    	$('#message').html(html);
	    });
    }
    
</script>
</head>
<body>
	<button onClick="getID()">SocketID</button><br/>
	
	<input type="text" id="email"></input><br/>
	<input type="password" id="passwd"></input><br/>
	<button onClick="login()">Login</button><br/><br/>
	Erst einloggen!"
	<button onClick="ingestGame()">Create Example Game</button><br/>
	<br/>
	<select multiple id="games"></select><br/>
	<button onClick="play()">Play Game</button><br/>
	<input type="text" id="coordx"></input><br/>
	<input type="text" id="coordy"></input><br/>
	<button onClick="sendCoords()">Send Coords</button><br/>
	<br/>
	<ul id="message"></ul>	
</body>
</html>