<!-- show the panel for large up like desktops -->
<div ng-controller="loginController as ctrlogin">
	<nav class="top-bar" data-topbar role="navigation">
        <div class="small-2 columns left">
            <img src="img/unicorn01.png" width="60" height="60" style="margin:0px auto;display:block">
        </div>
    </nav>
    <!-- content panel for logging in, registration link und help link -->
    <div class="panel">
		<p></p>
		<div class="row">
            <div class="large-12 large-centered columns">
				<p style="text-align: center;"><h2>Mobile Gaming Lab</h2></p>
            </div>
		</div>
		<br><br>
		<ul class="large-block-grid-3">
			<li>
			</li>
            <li>
				<form name="loginform" data-abide novalidate>
                    <!-- error login-->
                    <div data-alert class="alert-box alert" ng-show="error" >
						{{message}}
                    </div>
                    <!-- email to log in -->
                    <div class="email-field">
						<!-- email field. required. -->
                        <span style="color:red" ng-show="loginform.email.$invalid - email && loginform.email.$dirty">
							Bitte geben Sie eine gültige E-mail Adresse an!
						</span>
						<input type="email" id="email-1" placeholder="E-mail" name="email" required ng-model="email">
                    </div>
                    <!-- password for the correct email tipped in -->
                    <div class="password-field">
                        <!-- error handling and check for right password -->
                        <span style="color:red" ng-show="(signupform.password.$invalid && signupform.password.$dirty)">
							Bitte gebe dein Passwort an!
                        </span>
                        <input type="password" id="password-l" placeholder="Passwort" name="password" ng-model="password" required>
                    </div>
					<br>
                    <div class="row">
                        <!-- button for logging in -->
                        <a class="button small" ng-click="login()" ng-disabled="loginform.$invalid">Anmelden</a>

                        <!-- button for register -->
						<div style="text-align: left;">oder <a href="#signup">Registrieren</a></div>
					</div>
				</form>
            </li>
			<li></li>
		</ul>
    </div>
</div>


<!-- view for alle mobile phones and tablets -->
